img {
    max-width: 100%;
}

.header {
    background-color: rgb(255, 255, 255) !important;
}

.nav-link {
    color: #1da15f !important;
    font-weight: 700 !important;
    font-size: 18px;
    transition: .5s;
}

.nav-link:hover {
    color: #020202 !important;
    font-weight: 700 !important;
    font-size: 18px;
}

.sine {
    color: #ffffff !important;
    font-weight: 700 !important;
    font-size: 18px;
    background-color: #1da15f !important;
    transition: .5s;
}

.sine:hover {
    background-color: black !important;

}




/* banner section part 2  */





.ani img {
    transition: 5s;
    width: 100%;
    height: 100%;
    cursor: pointer;

}

.ani img:hover {
    transform: scale(1.2);
}

.text-ani {
    top: 20%;
}

.text-ani h1 {
    font-size: 52px;
    font-weight: 700;
    text-shadow: 10px 15px 10px black;
}

.text-ani p {
    font-size: 30px;
    font-weight: 600;
}

.button {}

.button a {
    font-size: 23px;
    color: white;
    background: #02d0fd;
    padding: 10px 22px;
    text-transform: capitalize;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    transition: .5s;
}

.button a:hover {
    background-color: #000000;
}




/* <!-- Collections part 2  --> */




.coll {
    background: url(./img/banner-02.jpg);
    padding: 230px 0px;
    background-repeat: no-repeat;
    background-position: center center;
}
.cll {
    background: url(./img/banner-01.jpg);
    padding: 230px 0px;
    background-repeat: no-repeat;
    background-position: center center;
}
.col {
    background: url(./img/banner-03.jpg);
    padding: 230px 0px;
    background-repeat: no-repeat;
    background-position: center center;
}
.c {
    background: url(./img/banner-04.jpg);
    padding: 230px 0px;
    background-repeat: no-repeat;
    background-position: center center;
}


/* hover part  */


body {
    font-family: arial, helvetica;
}

h1 {
    text-align: center;
    line-height: 45px
}

* {
    box-sizing: border-box;
}

.box {
    width: 350px;
    background: #fff;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
}

.box img {
    width: 100%;
    height: auto;
    display: block;
}

.box .box-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.social i:hover {
    color: white!important;
}
.box .box-content:before,
.box .box-content:after {
    content: "";
    width: 95%;
    height: 47%;
    background: #6c6d6d;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.5s;
    opacity: 0;
}

.box .box-content:before {
    top: -20%;
}

.box .box-content:after {
    bottom: -20%;
}

.box:hover .box-content:before {
    top: 3%;
    opacity: 0.8;
}

.box:hover .box-content:after {
    bottom: 3%;
    opacity: 0.8;
}

.box .content {
    width: 100%;
    height: 45px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 1;
    transform: rotate(90deg);
    opacity: 0;
    transition: all 0.5s;
}

.box:hover .content {
    opacity: 1;
    transform: rotate(0deg);
}

.box .social {
    padding: 0;
    margin: 0 0 20px 0;
    list-style: none;
    font-size: 40px;
    color: red; 
    transition: .5s;
    cursor: pointer; 
} 

.box .social li {
    display: inline-block;
    margin-right: 10px;
}

.box .social li a {
    color: #000;
    background: #fff;
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 0.3s;
}

.box .social li a:hover {
    color: #00e1ff;
}

.box .social li a .fa {
    line-height: 35px;
}

.box .title {
    color: rgb(0, 0, 0);
    font-size: 22px;
    margin-bottom: 7px;
    text-transform: capitalize;
}

.box .post {
    color: rgb(14, 14, 14);
    
    text-transform: capitalize;
}



/* fotter section  */

footer{
    
}
.futter{
    background-color: black;
}
.futter ul{
    text-align: center; 
}
.futter ul li{
    display: inline-block;
}
.futter ul li a{
    display: inline-block;
    margin-top: 18px;
    font-size: 23px;
    padding: 0px 13px;
    color: white;
}
.futter ul li a:hover{}